body
{
    background-repeat: no-repeat;
    background-position: right;
    background-image: url("B.JPG");
}
h1
{
    color: red;
    font-size: 35px;
    font-weight: bold;
}
h2
{
    color: white;
    font-size: 30px;
}
h3
{
    color: grey;
    font-size: 30px;
    font-weight: bold;
}
span
{
    color: red
}
p
{
    font-weight: bold;
    font-size: 18px;
    font-family: monospace;
}
input[type=email]
{
    box-sizing: border-box;
    border: 1px solid grey;
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
}
label
{
    font-size: 20px;
}
footer
{
    text-align: center;
}
